.center-content {
  border: 1px solid #000;
  height: 100%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
}
.right-content {
  height: 100%;
  display: flex;
  align-items: center;
}
