.ant-col.ant-col-xs-16.ant-col-sm-16.ant-col-md-20.ant-col-lg-20.ant-col-xl-20.ant-col-xxl-20.css-dev-only-do-not-override-1b0bdye {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
